/*Main page centering and dynamic works*/
body{
	width:100%;
	height: 100%;
	margin:0px;
	top: 0px;
	left: 0px;
	}
.maint{
	margin:auto;
	width:65%;
	text-align: justify;
	padding: 20px;
}
/*Marquee and sponsors*/
.gold {color:#FFD700;font-size: 25px;}
.friend {color:#0000AA;font-size: 25px;}
.family {color:purple;font-size: 25px;}
.bronze {color:#CD7F32;font-size: 25px;}
.silver {color:#C0C0C0;font-size: 25px;}
marquee {
	position:fixed;
	bottom: 0px;
	left: 0px;
	height:30px;
	width:100%;
	background-color:#009922;
	z-index: 0;
	}
.tempnav {
	height:28px;
	width:100%;
	background-color:#003300;
	text-align:center;
	margin:auto;
	z-index: 6;
	}
.tempbutt {
float:left;
display:block;
height:20px;
width:24.15%;
font-weight:bold;
color:#FFFFFF;
background-color:#003300;
text-align:center;
padding:4px;
margin:auto;
overflow: hidden;
text-decoration:none;
text-transform:uppercase;
	}
.tempbutt:hover{
background-color: #006400;
	}
/*Links and Other Generic Styling*/
a:link {color:#000;}
a:hover {color:#FFF;}
a:visited {color:#000;}