.navbuttHome {
float:left;
display:block;
height:20px;
width:19%;
font-weight:bold;
text-align:center;
padding:4px;
margin:auto;
overflow: hidden;
text-decoration:none;
text-transform:uppercase;
transition-property: height;
transition-duration: .5s;
-webkit-transition-property: height; /* Safari */
-webkit-transition-duration: .5s;
transition: background height 0.5s ease-out;
	}
.navbuttHome:hover{
background-color:#AFF099;
height: 100px;
	}
.navbuttFRC {
float:left;
display:block;
height:20px;
width:19%;
font-weight:bold;
text-align:center;
padding:4px;
margin:auto;
overflow: hidden;
transition-property: height;
transition-duration: .5s;
-webkit-transition-property: height; /* Safari */
-webkit-transition-duration: .5s;
transition: background height 0.5s ease-out;
	}
.navbuttFRC:hover{
background-color: #AFF099;
height: 100px;
	}
.navbuttFTC {
float:left;
display:block;
height:20px;
width:19%;
font-weight:bold;
text-align:center;
padding:4px;
margin:auto;
overflow: hidden;
text-decoration:none;
text-transform:uppercase;
transition-property: height;
transition-duration: .5s;
-webkit-transition-property: height; /* Safari */
-webkit-transition-duration: .5s;
transition: background height 0.5s ease-out;
	}
.navbuttFTC:hover{
background-color: #AFF099;
height: 170px;
	}
.navbuttProgramming {
float:left;
display:block;
height:20px;
width:19%;
font-weight:bold;
text-align:center;
padding:4px;
margin:auto;
overflow: hidden;
text-decoration:none;
text-transform:uppercase;
transition-property: height;
transition-duration: .5s;
-webkit-transition-property: height; /* Safari */
-webkit-transition-duration: .5s;
transition: background height 0.5s ease-out;
	}
.navbuttProgramming:hover{
background-color: #AFF099;
height: 140px;
	}
.navbuttLoL {
float:left;
display:block;
height:20px;
width:19%;
font-weight:bold;
text-align:center;
padding:4px;
margin:auto;
overflow: hidden;
text-decoration:none;
text-transform:uppercase;
transition-property: height;
transition-duration: .5s;
-webkit-transition-property: height; /* Safari */
-webkit-transition-duration: .5s;
transition: background height 0.5s ease-out;
	}
.navbuttLoL:hover{
background-color: #AFF099;
height: 210px;
	}
.navbar {
	height:28px; 
	color:#AFAFAF;
	background-color:#FFFFFF;
	text-align:center;
	margin:auto;
	z-index: 6;

	}
.linkage {
	color:#AFAFAF;
	background-color;#FFFFFF;
	font-weight: bold;
	text-decoration: none;
	}
.background {
	color:#AFAFAF;
	background-color;#FFFFFF;
	width:100%;
	left:0px;
	top:0px;
	padding:auto;
	margin:auto;
	text-align:center;
	transition: background height 0.5s ease-out;
	}
.navbuttHome:Hover .linkage {
	background-color:#AFF099;
	transition-property: height;
	transition-duration: .5s;
	transition: background height 0.5s ease;
}
.navbuttFRC:Hover .linkage {
	background-color:#AFF099;
	transition: background-color 0.5s ease;
}
.navbuttFTC:Hover .linkage {
	background-color:#AFF099;
	transition: background-color 0.5s ease-out;
}
.navbuttProgramming:Hover .linkage {
	background-color:#AFF099;
	transition: background-color 0.5s ease-out;
}
.navbuttLoL:Hover .linkage {
	background-color:#AFF099;
	transition: background height 0.5s ease-out;
}
.navbuttFRC:Hover .linkage {
	background-color:#AFF099;
	transition: background height 0.5s ease-out;
}
.navbuttFTC:Hover .linkage {
	background-color:#AFF099;
	transition: background height 0.5s ease-out;
}
.navbuttProgramming:Hover .linkage {
	background-color:#AFF099;
	transition: background height 0.5s ease-out;
}
.navbuttLoL:Hover .linkage {
	background-color:#AFF099;
	transition: background height 0.5s ease-out;
}
