#ignore dreamweaver xmls
/_notes/dwsync.xml
/css/_notes/dwsync.xml
/html/FRC/_notes/dwsync.xml
/html/FTC/_notes/dwsync.xml
/html/Home/_notes/dwsync.xml
/html/LoL/_notes/dwsync.xml
/html/Programming/_notes/dwsync.xml
/html/_notes/dwsync.xml
/image/_notes/dwsync.xml
/image/ftcpics/_notes/dwsync.xml
